@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  60% {
    opacity: 0.6;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out;
}

.animate-blink {
  animation: blink 1s infinite;
}

body {
  color: #333;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(
    to bottom,
    #e4ffdf 0%,
    #c8eeff 85%,
    #aecaff 100%
  );
}

@layer base {
  #_next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  :root{
    /* Gray scale */
    --white: #ffffff;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

    /* Teal scale */
    --teal-100: #ccfbf1;
    --teal-200: #99f6e4;
    --teal-300: #5eead4;
    --teal-400: #2dd4bf;
    --teal-500: #14b8a6;
    --teal-700: #0d9488;
    --teal-700-transparent: #0d948880;

    /* Pink */
    --pink-600: #ec4899;

    /* Blue scale */
    --blue-100: #dbeafe;
    --blue-200: #bfdbfe;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-600: #2563eb;
    --blue-700: #1d4ed8;
    --blue-800: #1e40af;
    --blue-800-transparent: #1e40af80;
    --blue-900: #1e3a8a;

    --background: #ffffff;
    --foreground: #1d1d1d;

    --primary: #7928ca;
    --primary-transparent: #7928ca80;
    --primary-foreground: #ffffff;

    --secondary-color: #00f5a0;
    --secondary-foreground: #000000;
    --secondary-color-transparent: #00f5a080;

    --muted: #333333;
    --muted-foreground: #ffffff;

    --accent: #;
    --accent-foreground: #4B0082;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --border: #444444;
    --input: #444444;

    --radius: 0.5rem;
  }

  .intro {
    min-height: 200px;
  }

  .img {
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
  }
}
