@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  60% {
    opacity: 0.6;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out;
}

body {
  color: #333;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(
    to bottom,
    #e4ffdf 0%,
    #c8eeff 85%,
    #aecaff 100%
  );
}

.bg-gradient-spot {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(0, 128, 128, 0.1) 0%,
    rgba(0, 128, 128, 0) 70%
  );
  z-index: -1;
}

.bg-gradient-spot:nth-child(1) {
  top: 10%;
  left: 5%;
}

.bg-gradient-spot:nth-child(2) {
  bottom: 20%;
  right: 10%;
}

@layer base {
  #_next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  :root{
    /* Gray scale */
    --color-white: #ffffff;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;

    /* Teal scale */
    --color-teal-100: #ccfbf1;
    --color-teal-200: #99f6e4;
    --color-teal-300: #5eead4;
    --color-teal-400: #2dd4bf;
    --color-teal-500: #14b8a6;
    --color-teal-700: #0d9488;

    /* Pink */
    --color-pink-600: #ec4899;

    /* Blue scale */
    --color-blue-100: #dbeafe;
    --color-blue-200: #bfdbfe;
    --color-blue-300: #93c5fd;
    --color-blue-400: #60a5fa;
    --color-blue-500: #3b82f6;
    --color-blue-600: #2563eb;
    --color-blue-700: #1d4ed8;
    --color-blue-800: #1e40af;
    --color-blue-900: #1e3a8a;

    --background: #ffffff;
    --foreground: #ffffff;

    --card: #2c2c2c;
    --card-foreground: #ffffff;

    --primary: #7928ca;
    --primary-foreground: #ffffff;

    --secondary: #ec4899;
    --secondary-foreground: #000000;

    --muted: #333333;
    --muted-foreground: #ffffff;

    --accent: #00f5a0;
    --accent-foreground: #4B0082;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --border: #444444;
    --input: #444444;

    --radius: 0.5rem;
  }

  .intro {
    min-height: 200px; /* Adjust based on your text size */
  }
}
